<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/efe3f506-099a-483e-b8a5-f6a37131c8f3/resourceGroups/HomeworkExamples/providers/Microsoft.Web/sites/AngelaKim</ResourceId>
    <ResourceGroup>HomeworkExamples</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://angelakim.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>angelakim.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AngelaKim</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AngelaKim</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>