<br />
<h1 class="text-center"> About me </h1>
<br />
<div class="text-center">
    <img src="~/images/Angela_Mike.jpeg" width="300px" height="auto" alt="Angela_Present" title="Angela_Present" />
</div>

<br />
<h3>Introduction</h3>
<ul>
    <span class="fw-bold"> Name </span> : Eonjeong Kim (preferred Angela)
    <br />
    <span class="fw-bold"> HomeTown </span> : South Korea
    <br />
    <span class="fw-bold"> Favorite Color </span> : Pink
    <br />
    <span class="fw-bold"> MBTI </span> : ENTJ
    <br />
</ul>

<li> Wants to be a <span class="text-primary"> Product Manager </span> </li>
<li> Various working experience in <span class="text-primary"> Tech startups </span> </li>
<li> Excellent communication skills and analytical strategies </li>
<li> Big Fan of <span class="text-primary"> Team Handball </span> </li>

<hr />
<h3>Education </h3>
<ul>
    <span class="fw-bold">
        University of Texas at Austin
    </span> (BBA, MIS)  spring 2022 </br>
    <span class="fw-bold">
        Seoul National University
    </span> (BBA, Tech mgt)   fall 2022
</ul>
<hr />

<h3>Experience </h3>
<ul>
    <span class="fw-bold">
        Hackle Corp.
    </span>
    <span class="fst-italic"> Product Owner, Business Developer </span>  Oct 2020 - Aug 2021
    <br />
    <span class="fw-bold">
        Mathpresso Corp.
    </span>
    <span class="fst-italic"> Global Business Strategist Intern </span> June 2020 - Sep 2020
    <br />
    <span class="fw-bold">
        Dinetable Corp.
    </span>
    <span class="fst-italic"> CEO, Founder </span> Nov 2018 - Sep 2019
    <br />
</ul>

<hr />

<h3>Skills </h3>
<span class="fw-bold">
    Languages
</span>: Native Speaker in Korean, Professional Proficiency in English, Basic Knowledge in Spanish
<br />
<span class="fw-bold">
    Technical Skills
</span>: SQL, A/B testing tools, C#, HTML, CSS, Javascript, React.js, .NET, Jira, Trello, Confluence, Microsoft Office

<br />
<br />
<br />
<br />
