
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<h1 class="text-center"> Hi, I am Angela (Eonjeong) Kim </h1>

<h4 class="text-center">
    Who wants to make a good impact on the world
</h4>
<br />
<br />
<div class="align-self-sm-start">
    <img class="w-40 h-auto mx-auto d-block"
         src="~/images/angela.png" alt="Happy Angela" title="Happy Angela" />
</div>

<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="About" class="btn btn-primary">About Me</a>
        <a asp-action="Passions" class="btn btn-primary">Passions</a>
        <a asp-action="Resume" class="btn btn-primary">Resume</a>
    </div>
</div>
<br />
<hr class="hr-danger" />

<br />

<div class="text-center">
    <h2> Pronunciation hint for name </h2>
    <div> My legal name is <span class="text-primary"> Eonjeong Kim. </span> </div>
    <div>
        <span class="text-primary"> Eonjeong </span> can be pronounced by combining
        <span class="text-primary"> 'Earn' </span> like earning money and <span class="text-primary"> 'Jung' </span> of Jungle.
    </div>
    <div>
        However, I prefer the English name <span class="text-primary"> 'Angela' </span> , which has a similar pronunciation to Eonjeong.
    </div>
</div>

<br />

<hr class="hr-danger" />

<br />
<h2 class="text-center"> My Favorite TED </h2>
<p class="text-center">
    The most meaningful video to me.
    <br /> "Stay Hungry, Stay Foolish"
</p>
<center>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div style="max-width:650px">
                    <div style="max-width:650px">
                        <div style="position:relative;height:0;padding-bottom:56.25%">
                            <iframe src="https://www.youtube.com/embed/UF8uR6Z6KLc" width="650" height="400" style="position:absolute;left:0;top:0;width:100%;height:100%" scrolling="no" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</center>

<br />

<hr class="hr-danger" />

<br />

<div id="contact info" class="text-center">
    <h2> Contact info </h2>
    <i class="fas fa-phone-alt"></i> (737) 297-6609 <br />
    <i class="far fa-envelope"></i>
    <a href="mailto:eonjeong98@gmail.com"> eonjeong98@gmail.com </a>
    <h2>
        <br />
        <p>
            <a href="https://www.linkedin.com/in/angela-eonjeong-kim/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/angela_eonjeong/" target="_blank"><i class="fab fa-instagram"></i></a>
        </p>
    </h2>
</div>

<br />
<br />
