<br />
<div class="text-center">
    <h1> Passions </h1>
    <p> These are what I fill my spare time with outside of working and studying.</p>
</div>
<hr />

    <h3> 1. Team Handball </h3>
        <br />
            <img src="~/images/handball -1 .jpg" width="auto" height="300" alt="handball -1" title="handball -1" />
            <img src="~/images/handball-2.jpeg" width="auto" height="300" alt="handball-2" title="handball-2" />
            <img src="~/images/handball3.jpeg" width="auto" height="300" alt="handball3" title="handball3" />
        <br />
        <hr />
        <br />
    <h3> 2. Weight Training (cf. Body Profile) </h3>
        <br />
            <img src="~/images/bp-2.jpeg" width="auto" height="480" alt="bp-2" title="bp-2" />
            <img src="~/images/bp-3.jpeg" width="auto" height="480" alt="bp-3" title="bp-3" />
            <img src="~/images/bp-1.jpeg" width="auto" height="480" alt="bp-1" title="bp-1" />
        <br />
        <hr />
        <br />
    <h3> 3. Travel </h3>
    <h4> - South Korea </h4>
        <img src="~/images/korea-gangneung.jpeg" width="auto" height="450" alt="korea-gangneung" title="korea-gangneung" />
        <img src="~/images/korea-hanok.jpeg" width="auto" height="450" alt="korea-hanok" title="korea-hanok" />
        <img src="~/images/korea-jeju.jpeg" width="auto" height="450" alt="korea-jeju" title="korea-jeju" />
    <br />
    <br />
    <h4> - Canada </h4>
        <img src="~/images/canada-1.jpg" width="auto" height="330" alt="canada-1" title="canada-1" />
        <img src="~/images/canada-2.jpg" width="auto" height="330" alt="canada-2" title="canada-2" />
    <br />
    <br />
    <h4> - USA </h4>
        <img src="~/images/usa-canyon.JPG" width="auto" height="280" alt="usa-canyon" title="usa-canyon" />
        <img src="~/images/usa-google.jpeg" width="auto" height="280" alt="usa-google" title="usa-google" />
        <img src="~/images/usa-newyork.jpeg" width="auto" height="280" alt="usa-newyork" title="usa-newyork" />
    <br />
    <br />
    <h4> - Europe </h4>
        <img src="~/images/euro.jpg" width="auto" height="450" alt="euro" title="euro" />
        <img src="~/images/paris.jpg" width="auto" height="450" alt="paris" title="paris" />
        <img src="~/images/england2.jpg" width="auto" height="450" alt="england2" title="england2" />    <br />
    <br />
        <img src="~/images/spain.jpg" width="auto" height="330" alt="spain" title="spain" />
        <img src="~/images/england.jpg" width="auto" height="330" alt="england" title="england" />
    <br />
    <br />
    <h4> - Singapore </h4>
        <img src="~/images/singapore.jpeg" width="auto" height="330" alt="singapore" title="singapore" /> 
        <img src="~/images/singapore2.jpeg" width="auto" height="330" alt="singapore2" title="singapore2" />
        <img src="~/images/singapore3.jpeg" width="auto" height="330" alt="singapore3" title="singapore3" />
<br />
<br />
<br />
<br />

