
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<h1 class="text-center"> Angela's Taco's Homepage </h1>

<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="CheckoutWalkup" class="btn btn-primary">Walkup Order</a>
        <a asp-action="CheckoutCatering" class="btn btn-primary">Catering Order</a>
    </div>
</div>
<br />
